            <br>
            <div style="background-color:white">
                <center>
                    <h1>Ingresar</h1>
                    <table>
                        <tr class=>
                            <td><label for="">Correo Electronico </label></td>
                            <td><input type="Ej:Pablo" name="" id="txt-contraseña"></td>
                        </tr>
                        <tr class=>
                            <td><label for="">Contraseña</label></td>
                            <td><input type="Ej:Pablo" name="" id="txt-correo"></td>
                        </tr>
                    </table>
                    <br>
                   <button class="btn-lg" style="background-color:#30497E;color:yellow">
                       Ingresar</button>



                </center>
                
            </div>
            
            