   <div class="row" style="overflow-y:hidden">
        <div style="background-color:white" class="col">
        <table >
            <tr><th><h1 style="color:#1C2D50">Registrate</h1></th></tr><br>
            <tr class=>
                <td><label for="">Nombres </label></td>
                <td><input type="Ej:Pablo" name="" id="txt-nombre"></td>
            </tr>
            <tr class=>
                <td><label for="">Apellidos </label></td>
                <td><input type="Ej:Pablo" name="" id="txt-apellido"></td>
            </tr>
            <tr class=>
                <td><label for="">Correo Electronico </label></td>
                <td><input type="Ej:Pablo" name="" id="txt-contraseña"></td>
            </tr>
            <tr class=>
                <td><label for="">Contraseña</label></td>
                <td><input type="Ej:Pablo" name="" id="txt-correo"></td>
            </tr>
            
        </table>
        <br><br>
        <button class="btn-lg" style="background-color:#30497E;color:yellow">Registrarte</button>
        <br><br>
        </div>
        <div class="col"style="background-image: url(../imagenes/cartoon.jpg);background-repeat: no-repeat
        ;height: 400px;background-position: center center">
        <h1></h1>
        </div>
   </div>
   
