<div class="card">
    <div class="card-body">
        <h1>Acerca de...</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Voluptatibus impedit maiores, iure, 
            consectetur quia illum nemo ut doloremque ipsum tempore unde quae voluptas! Dolores 
            aliquid molestias aliquam itaque libero inventore!
        </p>
    </div>
</div>