<div class="card">
    <div class="card-body">
        <h1>Acerca de...</h1>
        <p class="lead">
            La agenda es un registro con su parte principal originalmente en blanco, 
            pero que con su uso se irá rellenando con las anotaciones que nos 
            faciliten recordar y organizar los diversos eventos previstos para hacer en tiempo 
            de ocio o en el ejercicio profesional, y los asuntos pendientes. Es una herramienta 
            de trabajo imprescindible para la planificación de un "ejecutivo" y de muchos otros 
            profesionales, y una buena ayuda para cualquier persona interesada en la optimización 
            de su tiempo.
            Utiliza AV-UNAH y comienza ahora.
        </p>
        
    </div>
</div><br>