<div class="jumbotron mt-u " style="background-image: url(imagenes/pumaunah.png);background-repeat: no-repeat;
   background-position:right top">
    <h1 class='display-4'>Agenda Virtual UNAH</h1>
    <p class="lead">Registrate ya AV-UNAH es la mejor agenda Virtual para que almacenes 
        y reuerdes todas tus anotaciones,e informacion de tus contactos. 
       </p>
       <hr class = "my-4">
       <a href="/about" class="btn btn-primary btn-lg" style="background-color:#1A2A4C;color:#F8E920">Acerca de...</a>

</div>